# Ignore
*

# Allow
!.gitignore
!README.md
!LICENSE
!*/

# Allow
!/week1-wordnet/WordNet.java
!/week1-wordnet/SAP.java
!/week1-wordnet/Outcast.java
!/week1-wordnet/FastBFS.java
!/week1-wordnet/ArrayDighraph.java
!/week1-wordnet/wordnet.zip