# Ignore
*

# Allow
!.gitignore
!README.md
!LICENSE
!*/

# Allow
!/week1-wordnet/WordNet.java
!/week1-wordnet/SAP.java
!/week1-wordnet/Outcast.java
!/week1-wordnet/FastBFS.java
!/week1-wordnet/ArrayDigraph.java
!/week1-wordnet/wordnet.zip

!/week2-seam-carving/SeamCarver.java
!/week2-seam-carving/seam.zip

!/week3-baseball-elimination/baseball.zip
!/week3-baseball-elimination/BaseballElimination.java